In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_col= pd.read_csv("ColombiaCB.csv")
df_col["Country"] = "Colombia"
df_chi= pd.read_csv("ChileCB.csv")
df_chi["Country"] = "Chile"
df_bra= pd.read_csv("BrazilCB.csv")
df_bra["Country"] = "Brazil"
df_arg= pd.read_csv("ArgentinaCB.csv")
df_arg["Country"] = "Argentina"
df_mex= pd.read_csv("MexicoCB.csv")
df_mex["Country"] = "Mexico"
df_uru= pd.read_csv("UruguayCB.csv")
df_uru["Country"] = "Uruguay"

df_esp= pd.read_csv("SpainCB.csv")
df_esp["Country"] = "Spain"
df_sui= pd.read_csv("SwitzerlandCB.csv")
df_sui["Country"] = "Switzerland"
df_isr= pd.read_csv("IsraelCB.csv")
df_isr["Country"] = "Israel"
df_usa= pd.read_csv("UsaCB.csv")
df_usa["Country"] = "Usa"

In [4]:
df_all = pd.concat([df_col,df_chi,df_bra,df_arg, df_mex,df_uru, df_esp,df_sui, df_isr , df_usa] )
df_all = df_all.drop(["Organization Name URL"], axis=1)

In [5]:
df_all["Founded Date"] = pd.to_datetime(df_all["Founded Date"])
df_all["Exit Date"] = pd.to_datetime(df_all["Exit Date"])
df_all["Closed Date"] = pd.to_datetime(df_all["Closed Date"])
df_all["Last Funding Date"] = pd.to_datetime(df_all["Last Funding Date"])
df_all["Delisted Date"] = pd.to_datetime(df_all["Delisted Date"])
df_all["IPO Date"] = pd.to_datetime(df_all["IPO Date"])

In [21]:
df_startup = pd.read_excel("100startupcol.xlsx", index_col= 0)
df_startup =df_startup.rename(columns = {"1Doc3":"Startup"})
df_startup

       Startup        jcardona@1doc3.com
1
2         ADDI          ssuarez@addi.com
3       Aflore          manuel@aflore.co
4       Agrapp           david@agrapp.co
5       Aptuno      alejandro@aptuno.com
6       Arukay  vicky.ricaurte@gmail.com
..         ...                       ...
107  Monolegal                       NaN
108  Finsocial     santiago@finsocial.co
109        NaN                       NaN
110        NaN                       NaN
111        NaN                       NaN

[110 rows x 2 columns]

In [12]:
# intentemos con un merge

df_col_top_100 = pd.merge(df_col, df_startup, left_on="Organization Name", right_on= "Startup"  )
df_col_top_100 = df_col_top_100["Organization Name"].astype(str) 
df_col_top_100

0                La Haus
1                 Aflore
2                 Liftit
3                 Chiper
4                   Habi
5                  Valiu
6                  Rappi
7                 Zinobe
8     Mensajeros Urbanos
9              Finsocial
10                  Vozy
11                  Leal
12                Avista
13                Truora
14             Finaktiva
15                Sempli
16            Lentesplus
17                  Bold
18             Mi Aguila
19                 Foody
20            Farmalisto
21                 Minka
22              Simetrik
23             Foodology
24                 Peiky
25               Tributi
26                Aptuno
27                CIVICO
28               Frubana
29                Fitpal
30                  Loro
31              Valienta
32            Saludtools
33              Hometuls
34                Licify
35                Mowies
36                 Movii
37            Symplifica
38         LaManicurista
39               Talentu
40                Agrapp
41                Arukay
42                 Pulzo
43              Direktio
44               Mobijob
45             Monolegal
Name: Organization Name, dtype: object

In [30]:
print("Data Total Filas: %f"%(df_all.shape[1]))
print("Data TotalColumnas: %d"%(df_all.shape[0]))

print("100 Startup Filas: %d"%(df_startup.shape[1]))
print("100 Startup Columnas: %d"%(df_startup.shape[0]))

Data Total Filas: 103.000000
Data TotalColumnas: 9259
100 Startup Filas: 2
100 Startup Columnas: 110

In [34]:
startup_contained = []
startup_not_contained = []

df_colombia_company = df_all[ df_all['Country'] == 'Colombia' ]
list_colombia_company_names = df_colombia_company['Organization Name'].tolist()

for i in range(100):
    top_company_name = df_startup.iloc[i].Startup
    if top_company_name.upper() in (top_company_name.upper() for top_company_name in list_colombia_company_names):
        startup_contained.append(top_company_name)
    else:
        startup_not_contained.append(top_company_name)

print("[%d] estan contenidas, [%d] no estan contenidas"%(len(startup_contained),len(startup_not_contained)))

[56] estan contenidas, [44] no estan contenidas

In [38]:
# lo mismo que tuvimos con el merge 
startup_contained

['ADDI',
 'Aflore',
 'Agrapp',
 'Aptuno',
 'Arukay',
 'Avista',
 'Biocredit',
 'Bold',
 'Chiper',
 'DataWifi',
 'Direktio',
 'EnLaU',
 'Farmalisto',
 'Finaktiva',
 'Fitpal',
 'Fluvip',
 'Foodology',
 'Foody',
 'Frubana',
 'Habi',
 'Hometuls',
 'La Haus',
 'Laika',
 'LaManicurista',
 'Leal',
 'Lentesplus',
 'Licify',
 'Liftit',
 'Loro',
 'Mensajeros Urbanos',
 'Mesfix',
 'Mi Aguila',
 'Minka',
 'Mobijob',
 'Movii',
 'Mowies',
 'Muncher',
 'Muvo',
 'Peiky',
 'Pulzo',
 'Queo',
 'Rappi',
 'Saludtools',
 'Sempli',
 'Simetrik',
 'Symplifica',
 'Talentu',
 'Tiendapp',
 'TPaga',
 'Tributi',
 'Truora',
 'Ubits',
 'Valienta',
 'Valiu',
 'Vozy',
 'Zinobe']

# ADICIONO CAMPO A DR_ALL

In [39]:
df_colombia_company["isInTop100"] = 0

pass

<ipython-input-39-e063b199bc96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_colombia_company["isInTop100"] = 0

In [40]:
for company_name in startup_contained:
    df_colombia_company.loc[df_colombia_company['Organization Name'] == company_name, ['isInTop100']] = 1

C:\Users\Julian\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [43]:
df_col_top100=df_colombia_company
df_col_top100

,Organization Name,Industries,Headquarters Location,Description,CB Rank (Company),Headquarters Regions,Estimated Revenue Range,Operating Status,Founded Date,Founded Date Precision,...,IPqwery - Patents Granted,IPqwery - Trademarks Registered,IPqwery - Most Popular Patent Class,IPqwery - Most Popular Trademark Class,Aberdeen - IT Spend,Aberdeen - IT Spend Currency,Aberdeen - IT Spend Currency (in USD),School Method,Country,isInTop100
0,La Haus,"Information Technology, Marketplace, Real Esta...","MedellÃ­n, Antioquia, Colombia",La Haus is a residential marketplace used to h...,"1,457",Latin America,$1M to $10M,Active,2017-04-01,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,1
1,Elenas,"Beauty, Cosmetics, Direct Sales, E-Commerce","BogotÃ¡, Distrito Especial, Colombia",Elenas is a Latin American social commerce pla...,"2,462",Latin America,NaN,Active,2018-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
2,Dondo,NaN,"BogotÃ¡, Distrito Especial, Colombia",Get what you want giving what you have,"3,109",Latin America,NaN,Active,2019-04-01,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
3,Tpaga,"Financial Services, FinTech, Mobile, Mobile Pa...","BogotÃ¡, Distrito Especial, Colombia",Tpaga enables consumers to receive and spend m...,"3,183",Latin America,Less than $1M,Active,2015-08-10,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
4,Aflore,"Credit, Finance, Financial Services, FinTech","BogotÃ¡, Distrito Especial, Colombia",Aflore is a developer of tech-enabled direct s...,"3,449",Latin America,$1M to $10M,Active,2012-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Flores Y Mas,"E-Commerce, Flowers, Retail","MedellÃ­n, Antioquia, Colombia",Premier Columbian floral arrangements and deli...,"743,301",Latin America,Less than $1M,Active,2014-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
996,Focus Data,"Advertising, Analytics, Artificial Intelligenc...","Pereira, Risaralda, Colombia",Marketing Analytics,"746,877",Latin America,NaN,Active,2019-02-01,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
997,Oficina Virtual,NaN,"BogotÃ¡, Distrito Especial, Colombia",Oficina Virtual provides a modern and professi...,"747,778",Latin America,Less than $1M,Active,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
998,Uzer,"Digital Marketing, Web Design","BogotÃ¡, Distrito Especial, Colombia",Uzer develops innovative digital marketing str...,"747,877",Latin America,NaN,Active,2015-01-01,day,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0
999,Laboratorios Contecon Urbar,"Professional Services, Test and Measurement","BogotÃ¡, Distrito Especial, Colombia",Laboratorios Contecon Urbar is offers material...,"750,018",Latin America,NaN,Active,1981-01-01,year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colombia,0